* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor-fundo: blue;
    --cor-principal: yellow;
    --cor-hover: rgb(223, 122, 44);
}

nav {
    background-color: var(--cor-fundo);

}

nav ul {
    list-style-type: none;
    max-width: 900px;
    margin: auto;
}

nav ul:last-child {
    background-color: var(--cor-fundo);
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    color: var(--cor-principal);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav ul li:last-child a {
    float: right;
    background-color: chocolate;
}

nav ul li a:hover {
    background-color: var(--cor-hover);
    transition: .6s;
}

/* Submenu */
nav ul ul {
    display: none;
    position: absolute;
    left: 0;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
}

nav ul ul li a {
    display: block;
    /* width: 150px; */
}